body{
    background-color: white;
}
.condainer{
    width: 300px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.type_box{
    width: 250px;
    height: 40px;
    font-family: arial;
    font-size: 12px;
    background-color: rgba(159, 139, 139, 0.231);
    border-style: none;
    border-radius: 5px;
}

.Button{
    width: 255px;
    height: 40px; 
    background-color: #66ffa5;
    border-radius: 5px;
    border-style: none;
    font-family: Arial;
    color : black;
    transition: 0.1s background-color;
}

.Button:hover{
    background-color: white;
    border-style: solid;
    border-color: #66ffa5;
    cursor:pointer;
}

.info_account{
    font-family: Arial;
    font-size: 12px;
    color: rgb(88, 76, 76);
    display: inline-block;
}

.login_Button{
    background-color: #66ffa5;
    font-family: Arial;
    border-radius: 5px;
    border-style: none;
    height: 30px; 
    width: 85px;
    transition: 0.1s background-color;
}

.login_Button:hover{
    background-color: white;
    border-style: solid;
    border-color: #66ffa5;
    cursor:pointer;
}

.logo{
    width: 150px;
    height: 150px;
}

/* Div Area */

.logo_div{
    width: 150px;
    height: 150px;
    margin-left: 74px;
}

.username_div{
    width: 300px;
    height: 50px;
    margin-top: 50px;
    margin-left: 23px;
}

.box_div{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-left: 23px;
}

.submit_div{
    width: 30px;
    height: 50px;
    margin-top: 10px;
    margin-left: 23px;
}

.info_account_div{
    margin-top: 10px;
    margin-left: 23px;
    width: 150px;
    display: inline-block;
}

.login_div{
    display: inline-block;
    margin-left: 16px;
}

