{% load static %}
<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TalkWorld</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style/login.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'img/TWlogo.ico' %}">
    </head>
    <body>
        <div class = "condainer">
            <form method = "post">
                {% csrf_token %}
                <div class = "logo_div">
                    <img class = "logo" src="{% static 'img/TWlogo.png' %}" alt="TalkWorld">
                </div>
                <div class = "login">
                    <input class="text" type = "text" placeholder=" user name" name = 'username'>
                </div>
                <div class = "password">
                    <input class="text" type = "password" placeholder = " Password" name = 'password'>
                 </div>
                <div class = "button_div">
                    <button class = "Button" type = "submit">Login</button>
                </div>
                <div class = "info_account_div">
                    <p class = "info_account">Don't have an account ?</p>
                </div>
                <div class = "Sign_Up_div">
                    <button class = "Sign_Up_Button" type="reset" id="signupButton">
                        Sign Up
                      </button>
                </div>
            </form>
        </div>
        <script>
            document.getElementById('signupButton').addEventListener('click', function() {
                window.location.href = 'signup';
            });
        </script>
    </body>
</html>
